{% extends "base/base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset8" style="text-align:right;">
            <a href="{% url blog-home %}" class="btn btn-large btn-primary">Zum Workshop-Blog</a>
        </div>        

        <div class="span12">
            <pre class="prettyprint">
def list_view(request, page_num=None):

    # We're now going to fetch all available blog entries
    entries_raw = Entry.objects.all().order_by('-pub_date')

    # Initializing the paginator
    paginator = Paginator(entries_raw, BLOG_ITEMS_PER_PAGE)

    # Determining current page
    try:
        entries = paginator.page(page_num)
    except PageNotAnInteger:
        entries = paginator.page(1)
    except EmptyPage:
        entries = paginator.page(paginator.num_pages)

    return render_to_response("blog/list.html", locals(), context_instance=RequestContext(request))
            </pre>
        </div>

        <div class="span4 offset8" style="text-align:right;">
            <a href="{% url blog-home %}" class="btn btn-large btn-primary">Zum Workshop-Blog</a>
        </div>
    </div>
{% endblock %}